<div class="container view">
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <section class="header">
        <h1>{{'LOGIN.TITLE' | translate}}</h1>
        <div class="notification is-danger" ng-show="$ctrl.errorMessage">
          <button class="delete"></button>
          {{$ctrl.errorMessage}}
        </div>
      </section>
      <form name="$ctrl.form" ng-submit="$ctrl.validate()" novalidate ng-click="$ctrl.debug()">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input ng-model="$ctrl.createAccount" type="checkbox"> {{'LOGIN.CREATE' | translate}}
            </label>
          </div>
        </div>
        <div class="field" ng-show="$ctrl.createAccount">
          <label class="label">{{'LOGIN.NAME' | translate}}</label>
          <div class="control">
            <input name="name" class="input" ng-model="$ctrl.user.name" type="text" />
          </div>
          <error-messages form="$ctrl.form" field="name" />
        </div>
        <div class="field">
          <label class="label">{{'LOGIN.EMAIL' | translate}}</label>
          <div class="control">
            <input name="email" class="input" ng-model="$ctrl.user.email" type="email" required />
          </div>
          <error-messages form="$ctrl.form" field="email" />
        </div>
        <div class="field">
          <label class="label">{{'LOGIN.PASSWORD' | translate}}</label>
          <div class="control">
            <input name="password" class="input" ng-model="$ctrl.user.password" type="password" required />
          </div>
          <error-messages form="$ctrl.form" field="password" />
        </div>
        <div class="field" ng-if="!$ctrl.createAccount">
          <div class="control">
            <a ui-sref="main.lostPassword">{{'LOGIN.LOSTPWD' | translate}}</a>
          </div>
        </div>
        <div class="commands">
          <button class="button is-primary" type="submit" ng-disabled="$ctrl.form.$submitted && $ctrl.form.$invalid">{{'BUTTON.VALIDATE' | translate}}</button>
          <a class="button is-default" ui-sref="main">{{'BUTTON.CANCEL' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>