<div class="container view">
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <section class="header">
        <h1>{{'LOGIN.TITLE' | translate}}</h1>
        <div class="notification is-danger" ng-show="$ctrl.errorMessage">
          <button class="delete"></button>
          {{$ctrl.errorMessage}}
        </div>
      </section>
      <form class="box" ng-submit="$ctrl.validate()">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input ng-model="$ctrl.createAccount" type="checkbox"> {{'LOGIN.CREATE' | translate}}
            </label>
          </div>
        </div>
        <div class="field" ng-show="$ctrl.createAccount">
          <label class="label">{{'LOGIN.NAME' | translate}}</label>
          <div class="control">
            <input class="input" ng-model="$ctrl.user.name" type="text" />
          </div>
        </div>
        <div class="form-group">
          <label class="label">{{'LOGIN.EMAIL' | translate}}</label>
          <div class="control">
            <input class="input" ng-model="$ctrl.user.email" type="text" />
          </div>
        </div>
        <div class="form-group">
          <label class="label">{{'LOGIN.PASSWORD' | translate}}</label>
          <div class="control">
            <input class="input" ng-model="$ctrl.user.password" type="password" />
          </div>
        </div>
        <div class="commands">
          <a class="button is-default" ui-sref="main">{{'BUTTON.CANCEL' | translate}}</a>
          <button class="button is-primary" type="submit">{{'BUTTON.VALIDATE' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>