<div class="container view">
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <section class="header">
        <h1>{{'LOSTPWD.TITLE' | translate}}</h1>
        <div class="notification is-danger" ng-show="$ctrl.errorMessage">
          <button class="delete"></button>
          {{$ctrl.errorMessage}}
        </div>
      </section>
      <form name="$ctrl.form" ng-submit="$ctrl.validate()" novalidate>
        <div class="field">
          <label class="label">{{'LOSTPWD.PASSWORD' | translate}}</label>
          <div class="control">
            <input name="password" class="input" ng-model="$ctrl.password" type="password" required />
          </div>
          <error-messages form="$ctrl.form" field="password" />
        </div>
        <div class="field">
          <label class="label">{{'LOSTPWD.CONFIRM' | translate}}</label>
          <div class="control">
            <input name="confirm" class="input" ng-model="$ctrl.confirm" type="password" required />
          </div>
          <error-messages form="$ctrl.form" field="confirm" />
        </div>
        <div class="commands">
          <button class="button is-primary" type="submit" ng-disabled="$ctrl.form.$invalid">{{'BUTTON.VALIDATE' | translate}}</button>
          <a class="button is-default" ui-sref="main">{{'BUTTON.CANCEL' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>