.container.view {
  margin-bottom: 30px;
  margin-top: 30px;
  section.header {
    margin-bottom: 15px;
    h1 {
      font-weight: bold;
      font-size: 1.5em;
      padding-bottom: 10px;
      border-bottom: 1px solid #dbdbdb;
    }
  }
  .tabs {
    margin-bottom: 20px;
  }
}

.error {
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(206, 24, 24);
  color: white;
}

form .commands {
  margin-top: 30px;
}

.notification.ng-inactive {
  display: none;
}

error-messages {
  p {
    padding: 5px 0;
    font-weight: bold;
    color: red;
  }
}