.nav ul.dropdown-menu li a.selected {
  background-color: #eee;
  font-weight: bold;
}

.container {
  margin-top: 30px;
  header .btn {
    float: right;
  }
}

.error {
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(206, 24, 24);
  color: white;
}

main ul.categories {
  -webkit-padding-start: 0;
  display: inline-flex;
  list-style: none;
  li {
    padding: 5px 10px;
    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
    &.selected {
      font-weight: bold;
    }
  }
}

recipes-list table {
  border-collapse: separate;
  border-spacing: 0 4px;
  tr {
    background-color: #eee;
    &:hover {
      background-color: #ccc;
      cursor: pointer;
    }
    >td {
      padding: 10px;
      >img {
        max-width: 100px;
      }
    }
  }
}

recipe-details {
  >div {
    display: block;
    padding: 0 30px;
    margin-bottom: 30px;
    .commands button {
      margin-bottom: 10px;
      margin-left: 10px;
      float: right;
    }
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    .title {
      font-weight: bold;
      font-size: 110%;
      margin-bottom: 10px;
    }
  }
}

recipe-add {
  div.button {
    display: block;
  }
  div.drop-box {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px dashed #eee;
    margin-top: 10px;
    padding: 12px;
  }
  img {
    width: 100%;
  }
}

login .commands {
  margin-top: 30px;
}

users-list table {
  margin-top: 50px;
}