
.container {
  margin-top: 30px;
}

recipes-list > table {
  border-collapse: separate;
  border-spacing: 0 4px;
}

recipes-list > table tr {
  background-color: #eee;
}
recipes-list > table tr:hover {
  background-color: #ccc;
  cursor: pointer;
}
recipes-list > table tr > td {
  padding: 10px;
}
recipes-list > table tr > td > img {
  max-width: 100px;
}

recipe-details > div {
  border: 1px solid #ccc;  
  display: block;
  padding: 30px; 
}
recipe-details > div img {
  max-width: 100%;
  margin-bottom: 20px;
}
recipe-details > div .title {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 10px;
}