
.container {
  margin-top: 30px;
}

#list {
  border-collapse: separate;
  border-spacing: 0 4px;
}

#list tr {
  background-color: #eee;
}

#list tr:hover {
  background-color: #ccc;
  cursor: pointer;
}

#list tr > td {
  padding: 10px;
}

#list tr > td img {
  max-width: 100px;
}

#details {
  border: 1px solid #ccc;
  padding: 30px; 
}

#details #recipe_image {
  max-width: 100%;
  margin-bottom: 20px;
}
#details #recipe_title {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 10px;
}