@import './common.scss';

main ul.categories {
  -webkit-padding-start: 0;
  margin-bottom: 15px;
  display: inline-flex;
  list-style: none;
  li {
    padding: 5px 10px;
    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
    &.selected {
      font-weight: bold;
    }
  }
}

recipes-list .card-content .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

recipe-details {
  .commands {
    height: 50px;
    button {
      margin-bottom: 10px;
      margin-left: 10px;
      float: right;
    }
  }
  .title {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 10px;
  }
}

recipe-add {
  div.button {
    display: block;
  }
  div.drop-box {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px dashed #eee;
    margin-top: 10px;
    padding: 12px;
  }
  img {
    width: 100%;
  }
}

login .commands {
  margin-top: 30px;
}