@import './common.scss';

/* Components styles */

recipes-list {
  .card {
    &:hover {
      transition: box-shadow 0.3s;
      box-shadow: 0 0 20px #ccc;
    }
    .card-header-title {
      margin-bottom: 5px;
      display: block;
      width: 100%;
      .name {
        text-transform: capitalize;
        font-weight: normal;
      }
      p {
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

recipe-details {
  .commands {
    height: 50px;
    button {
      margin-bottom: 10px;
      margin-left: 10px;
      float: right;
    }
  }
  .title {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 10px;
  }
}

recipe-edit {
  div.button {
    display: block;
  }
  div.drop-box {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px dashed #eee;
    margin-top: 10px;
    padding: 12px;
  }
  img {
    width: 100%;
  }
  span.select {
    width: 100%;
    select {
      width: 100%;
    }
  }
}