<div ng-messages="$ctrl.form[$ctrl.field].$error" role="alert" class="is-danger" ng-if="$ctrl.form.$submitted && $ctrl.form.$invalid">
  <p ng-message="required">{{'ERRORS.REQUIRED' | translate}}</p>
  <p ng-message="minlength">{{'ERRORS.MINLENGTH' | translate}}</p>
  <p ng-message="maxlength">{{'ERRORS.MAXLENGTH' | translate}}</p>
  <p ng-message="pattern">{{'ERRORS.PATTERN' | translate}}</p>
  <p ng-message="maxSize">{{'ERRORS.FILESIZE' | translate}}</p>
  <p ng-message="email">{{'ERRORS.EMAIL' | translate}}</p>
</div>