<div class="container">
  <header>
    <ul class="categories">
      <li ui-sref="main.recipes.list({categoryId: 0})" ui-sref-active="selected">
        {{'ALL' | translate}}
      </li>
      <li ng-repeat="category in $ctrl.categories track by category.id" ui-sref="main.recipes.list({categoryId: category.id})" ui-sref-active="selected">
        {{category.name}}
      </li>
    </ul>
    <a ng-if="$ctrl.parent.isLogged()" ui-sref="main.recipes.add" class="btn btn-success">{{'BUTTON.ADD' | translate}}</a>
  </header>
  <div class="error" ng-show="$ctrl.error.length">{{$ctrl.error}}</div>
  <table ng-hide="$ctrl.error.length" class="table">
    <tbody>
      <tr ng-repeat="recipe in $ctrl.recipes track by recipe.id" ui-sref="main.recipes.details({id: recipe.id})">
        <td class="image">
          <img ng-src="{{recipe.image}}" alt="image">
        </td>
        <td class="title">{{recipe.title}}</td>
        <td class="name">{{recipe.user.name}}</td>
      </tr>
    </tbody>
  </table>
</div>