<div class="container view">
  <div class="notification is-danger" ng-show="$ctrl.error.length">
    <button class="delete"></button>
    {{$ctrl.error}}
  </div>
  <ng-map ng-if="$ctrl.loaded" default-style="true">
    <marker
      ng-if="$ctrl.current"
      no-watcher="true"
      position="{{$ctrl.current.lat}}, {{$ctrl.current.lng}}"
      icon="{{$ctrl.markerIcon}}"
    >
    </marker>
    <info-window id="iw">
      <div ng-non-bindable="">
        <p><b>{{$ctrl.user.name | uppercase}}</b></p>
        <p>{{$ctrl.user.address}}</p>
        <a ui-sref="main.user({id: $ctrl.user.id})">{{'USERS.DETAILS' | translate}}...</a>
      </div>
    </info-window>
  </ng-map>
  <table ng-hide="$ctrl.error.length" class="table is-hoverable is-fullwidth">
    <thead>
      <th>{{'USERS.NAME' | translate}}</th>
      <th>{{'USERS.EMAIL' | translate}}</th>
      <th>{{'USERS.DATE' | translate}}</th>
      <th>{{'USERS.ADMIN' | translate}}</th>
      <th>{{'USERS.RECIPES' | translate}}</th>
      <th>{{'USERS.DISTANCE' | translate}}</th>
      <th>{{'USERS.LOCATE' | translate}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.users track by user.id" ui-sref="main.user({id: user.id})">
        <td>{{user.name | uppercase}}</td>
        <td>{{user.email | lowercase}}</td>
        <td>{{user.createdAt | date:'dd/MM/yyyy'}}</td>
        <td>{{user.isAdmin}}</td>
        <td>{{user.recipesCount}}</td>
        <td>{{user.distance}}</td>
        <td><button class="button" ng-click="$ctrl.userLocate($event, user)"><fa name="location-arrow"></fa></button></td>
      </tr>
    </tbody>
  </table>
</div>