<div class="container view">
  <div class="notification is-danger" ng-show="$ctrl.error.length">
    <button class="delete"></button>
    {{$ctrl.error}}
  </div>
  <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{$ctrl.googleMapsUrl}}">
    <ng-map map-initialized="$ctrl.onMapLoaded(map)">
      <marker
        ng-if="$ctrl.current"
        no-watcher="true"
        position="{{$ctrl.current.lat}}, {{$ctrl.current.lng}}"
        icon="{{$ctrl.markerIcon}}",
      >
      </marker>
      <marker
        no-watcher="true"
        ng-repeat="user in $ctrl.users track by user.id"
        position="{{user.location.coordinates[0]}}, {{user.location.coordinates[1]}}"
        title="{{user.address}}"
      >
      </marker>
    </ng-map>
  </div>
  <table ng-hide="$ctrl.error.length" class="table is-hoverable is-fullwidth">
    <thead>
      <th>{{'USERS.NAME' | translate}}</th>
      <th>{{'USERS.EMAIL' | translate}}</th>
      <th>{{'USERS.DATE' | translate}}</th>
      <th>{{'USERS.ADMIN' | translate}}</th>
      <th>{{'USERS.RECIPES' | translate}}</th>
      <th>{{'USERS.DISTANCE' | translate}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.users track by user.id" ui-sref="main.user({id: user.id})">
        <td>{{user.name | uppercase}}</td>
        <td>{{user.email | lowercase}}</td>
        <td>{{user.createdAt | date:'dd/MM/yyyy'}}</td>
        <td>{{user.isAdmin}}</td>
        <td>{{user.recipesCount}}</td>
        <td>{{user.distance}}</td>
      </tr>
    </tbody>
  </table>
</div>