<div class="container view">
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <section class="header">
        <h1>{{'USER_EDIT.TITLE' | translate}}</h1>
        <div class="notification is-danger" ng-show="$ctrl.error">
          <button class="delete"></button>
          {{$ctrl.error}}
        </div>
      </section>
      <form ng-submit="$ctrl.validate()">
        <div class="field">
          <label class="label">{{'USER_EDIT.NAME' | translate}}</label>
          <div class="control">
            <input ng-model="$ctrl.user.name" id="name" type="text" class="input" required />
          </div>
        </div>
        <div class="field">
          <label class="label">{{'USER_EDIT.EMAIL' | translate}}</label>
          <div class="control">
            <input ng-model="$ctrl.user.email" id="email" type="text" class="input" required />
          </div>
        </div>
        <div class="field">
          <label class="label">{{'USER_EDIT.PASSWORD' | translate}}</label>
          <div class="control">
            <input ng-model="$ctrl.user.password" id="password" type="password" class="input" />
          </div>
        </div>
        <div class="field">
          <label class="label">{{'USER_EDIT.ADDRESS' | translate}}</label>
          <div class="control">
            <input ng-if="$ctrl.loaded" places-auto-complete id="address" type="text" class="input" required ng-model="$ctrl.user.address" component-restrictions="{country:'fr'}"
              on-place-changed="$ctrl.onPlaceChanged()" types="['geocode']" />
          </div>
        </div>
        <div class="field" ng-if="$ctrl.loaded">
          <ng-map center="{{$ctrl.user.lat}}, {{$ctrl.user.lng}}" zoom-to-include-markers="false">
            <marker position="{{$ctrl.user.lat}}, {{$ctrl.user.lng}}"></marker>
          </ng-map>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input ng-model="$ctrl.user.isAdmin" type="checkbox"> {{'USER_EDIT.ADMIN' | translate}}
            </label>
          </div>
        </div>
        <hr/>
        <div class="commands">
          <a class="button" ui-sref="main.users">{{'BUTTON.CANCEL' | translate}}</a>
          <button class="button is-primary" type="submit">{{'BUTTON.VALIDATE' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>