<div>
  <div class="error" ng-show="$ctrl.error">{{$ctrl.error}}</div>
  <div ng-show="$ctrl.recipe">
    <img ng-src="{{$ctrl.recipe.image}}">
    <div>{{$ctrl.recipe.title}}</div>
    <div>{{$ctrl.recipe.description}}</div>
    <div>{{$ctrl.recipe.count}}</div>
    <div>{{$ctrl.recipe.createdAt | date:"dd/MM/yyyy"}}</div>
    <div>{{$ctrl.recipe.category.name}}</div>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.delete($ctrl.recipe.id)">{{'BTN_DELETE' | translate}}</button>
  </div>
</div>