<div>
  <div class="error" ng-show="$ctrl.error">{{$ctrl.error}}</div>
  <div ng-show="$ctrl.recipe">
    <div class="commands">
      <button ng-if="$ctrl.parent.loggedUser" type="button" class="btn btn-danger" ng-click="$ctrl.delete()">{{'BUTTON.DELETE' | translate}}</button>
      <button type="button" class="btn btn-default" ui-sref="main.list">{{'BUTTON.RETURN' | translate}}</button>
    </div>
    <img ng-src="{{$ctrl.recipe.image}}">
    <div>{{$ctrl.recipe.title}}</div>
    <div>{{$ctrl.recipe.description}}</div>
    <div>{{$ctrl.recipe.count}}</div>
    <div>{{$ctrl.recipe.createdAt | date:"dd/MM/yyyy"}}</div>
    <div>{{$ctrl.recipe.category.name}}</div>
  </div>
</div>