<div class="container">
  <header>
    <button type="button" class="btn btn-default" ui-sref="main.recipes">{{'BUTTON.CANCEL' | translate}}</button>
  </header>
  <div class="error" ng-show="$ctrl.error.length">{{$ctrl.error}}</div>
  <table ng-hide="$ctrl.error.length" class="table">
    <tbody>
      <thead>
        <th>{{'USERS.NAME' | translate}}</th>
        <th>{{'USERS.EMAIL' | translate}}</th>
        <th>{{'USERS.DATE' | translate}}</th>
        <th>{{'USERS.ADMIN' | translate}}</th>
      </thead>
      <tr ng-repeat="user in $ctrl.users track by user.id" ui-sref="main.user({id: user.id})">
        <td>{{user.name | uppercase}}</td>
        <td>{{user.email | lowercase}}</td>
        <td>{{user.createdAt | date:'dd/MM/yyyy'}}</td>
        <td>{{user.isAdmin}}</td>
      </tr>
    </tbody>
  </table>
</div>