<div class="container view">
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <section class="header">
        <h1>{{'LOSTPWD.TITLE' | translate}}</h1>
        <div class="notification is-danger" ng-show="$ctrl.errorMessage">
          <button class="delete"></button>
          {{$ctrl.errorMessage}}
        </div>
      </section>
      <form name="$ctrl.form" ng-submit="$ctrl.validate(email)" novalidate>
        <div class="field">
          <label class="label">{{'LOSTPWD.EMAIL' | translate}}</label>
          <div class="control">
            <input name="email" class="input" ng-model="email" type="email" required />
          </div>
          <error-messages form="$ctrl.form" field="email" />
        </div>
        <div class="commands">
          <button class="button is-primary" type="submit" ng-disabled="$ctrl.dirty && $ctrl.form.$invalid">{{'BUTTON.VALIDATE' | translate}}</button>
          <a class="button is-default" ui-sref="main">{{'BUTTON.CANCEL' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>