<div class="container">
  <form name="$ctrl.form" ng-submit="$ctrl.validate(file)">
    <div class="error" ng-show="$ctrl.error">{{$ctrl.error}}</div>
    <div class="form-group">
      <label for="title">{{'RECIPE_ADD.TITLE' | translate}}</label>
      <input class="form-control" id="title" type="text" ng-model="$ctrl.recipe.title">
    </div>
    <div class="form-group">
      <label for="description">{{'RECIPE_ADD.DESCRIPTION' | translate}}</label>
      <textarea class="form-control" id="description" ng-model="$ctrl.recipe.description"></textarea>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="count">{{'RECIPE_ADD.COUNT' | translate}}</label>
          <input class="form-control" id="count" type="number" min="1" max="12" ng-model="$ctrl.recipe.count">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="categories">{{'RECIPE_ADD.CATEGORY' | translate}}</label>
          <select class="form-control" id="categories" ng-model="$ctrl.recipe.categoryId" ng-options="category.id as category.name for category in $ctrl.categories">
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="image">{{'RECIPE_ADD.IMAGE' | translate}}</label>
          <div id="image" class="button btn btn-primary" name="file" accept="image/*"
            ngf-pattern="'image/*'"
            ng-model="file"
            ngf-max-size="{{$ctrl.maxFileSize}}MB"
            ngf-resize="{width: 1024, height: 1024}"
            ngf-select>
            {{'RECIPE_ADD.SELECT' | translate}}
          </div>
          <div ngf-drop ng-model="file" class="drop-box">{{'RECIPE_ADD.DROP' | translate}}</div>
          <i ng-show="$ctrl.form.file.$error.required">*required</i>
          <br>
          <i ng-show="$ctrl.form.file.$error.maxSize">{{'RECIPE_ADD.FILESIZE' | translate}} {{ file.size / 1000000 | number:1 }}MB: max {{$ctrl.maxFileSize}}MB</i>
        </div>
      </div>
      <div class="col-xs-6">
        <label for="preview">{{'RECIPE_ADD.PREVIEW' | translate}}</label>
        <img id="preview" ngf-thumbnail="file" />
        <p>{{$ctrl.progress}}</p>
      </div>
    </div>
    <button type="submit" class="btn btn-success">{{'BUTTON.SAVE' | translate}}</button>
    <button type="button" class="btn btn-default" ui-sref="main.recipes.list">{{'BUTTON.CANCEL' | translate}}</button>
  </form>
</div>