<div class="container view">
  <section class="header">
    <div class="notification is-danger" ng-show="$ctrl.error.length">
      <button class="delete"></button>
      {{$ctrl.error}}
    </div>
    <div class="tabs">
      <ul>
        <li ng-class="{'is-active': $ctrl.category == 0}">
          <a ui-sref="main.recipes.list({category: 0, page: 0})">{{'ALL' | translate}}</a>
        </li>
        <li ng-repeat="category in $ctrl.categories track by category.id" ng-class="{'is-active': $ctrl.category == category.id}">
          <a ui-sref="main.recipes.list({category: category.id, page: 0})">{{category.name}}</a>
        </li>
      </ul>
    </div>
  </section>
  <div class="columns is-multiline" ng-hide="$ctrl.error.length">
    <div class="column is-4" ng-repeat="recipe in $ctrl.recipes track by recipe.id">
      <recipe-card recipe="recipe"></recipe-card>
    </div>
  </div>
  <paginator ng-if="$ctrl.paginator" route="main.recipes.list" count="$ctrl.paginator.count" page="$ctrl.paginator.page"></paginator>
</div>