<div class="container view">
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <section class="header">
        <h1>{{$ctrl.recipe.id ? 'RECIPE_ADD.EDIT' : 'RECIPE_ADD.CREATE' | translate}}</h1>
        <div class="notification is-danger" ng-show="$ctrl.error">
          <button class="delete"></button>
          {{$ctrl.error}}
        </div>
      </section>
      <form name="$ctrl.form" ng-submit="$ctrl.validate(file)" novalidate>
        <div class="field">
          <label class="label">{{'RECIPE_ADD.NAME' | translate}}</label>
          <div class="control">
            <input name="name" class="input" type="text" ng-model="$ctrl.recipe.title" required>
          </div>
          <error-messages errors="$ctrl.form.name.$error" />
        </div>
        <div class="field">
          <label class="label">{{'RECIPE_ADD.DESCRIPTION' | translate}}</label>
          <div class="control">
            <textarea name="desc" class="textarea" ng-model="$ctrl.recipe.description" ng-minlength="10" required></textarea>
          </div>
          <error-messages errors="$ctrl.form.desc.$error" />
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">{{'RECIPE_ADD.COUNT' | translate}}</label>
              <div class="control">
                <input name="count" class="input" type="number" min="1" max="12" ng-model="$ctrl.recipe.count" required>
              </div>
              <error-messages errors="$ctrl.form.count.$error" />
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">{{'RECIPE_ADD.CATEGORY' | translate}}</label>
              <div class="control">
                <span class="select">
                  <select name="category" ng-model="$ctrl.recipe.categoryId" ng-options="category.id as category.name for category in $ctrl.categories"
                    required>
                  </select>
                </span>
              </div>
              <error-messages errors="$ctrl.form.category.$error" />
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">{{'RECIPE_ADD.IMAGE' | translate}}</label>
              <div class="control">
                <div class="button is-info" name="file" accept="image/*" ngf-pattern="'image/*'" ng-model="file" ngf-max-size="{{$ctrl.maxFileSize}}MB"
                  ngf-resize="{width: 1024, height: 1024}" ngf-select>
                  {{'RECIPE_ADD.SELECT' | translate}}
                </div>
              </div>
              <div ngf-drop ng-model="file" class="drop-box">{{'RECIPE_ADD.DROP' | translate}}</div>
              <error-messages errors="$ctrl.form.file.$error" />
            </div>
          </div>
          <div class="column is-6">
            <label class="label">{{'RECIPE_ADD.PREVIEW' | translate}}</label>
            <div class="control">
              <img id="preview" ngf-thumbnail="file || $ctrl.recipe.image" required />
            </div>
            <p>{{$ctrl.progress}}</p>
          </div>
        </div>
        <hr/>
        <div class="commands">
          <button type="submit" class="button is-primary" ng-disabled="$ctrl.form.$invalid">{{'BUTTON.SAVE' | translate}}</button>
          <button type="button" class="button" ui-sref="main.recipes.list">{{'BUTTON.CANCEL' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>