<div class="container view">
  <header>
    <div class="notification is-danger" ng-show="$ctrl.error.length">
      <button class="delete"></button>
      {{$ctrl.error}}
    </div>
    <div class="tabs">
      <ul>
        <li ui-sref-active="is-active">
          <a ui-sref="main.recipes.list({category: 0, page: 0})">{{'ALL' | translate}}</a>
        </li>
        <li ng-repeat="category in $ctrl.categories track by category.id" ui-sref-active="is-active">
          <a ui-sref="main.recipes.list({category: category.id, page: 0})">{{category.name}}</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="columns is-multiline" ng-hide="$ctrl.error.length">
    <div class="column is-4" ng-repeat="recipe in $ctrl.recipes.rows track by recipe.id">
      <div class="card recipe-{{recipe.category.name}}" ui-sref="main.recipes.details({id: recipe.id})">
        <div class="card-image">
          <figure class="image is-4by3">
            <img ng-src="{{recipe.image}}" alt="image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <div class="title">{{recipe.title}}</div>
            <div class="name">{{recipe.user.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <paginator ng-if="$ctrl.paginator" count="$ctrl.paginator.count" page="$ctrl.paginator.page"></paginator>
</div>