<nav class="navbar has-shadow is-info" role="navigation" aria-label="dropdown navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img ng-src="{{$ctrl.images.imgLogo}}" alt="{{'NAVBAR.TITLE' | translate}}" />
      </a>
      <button class="button navbar-burger" ng-class="{'is-active': burger}" ng-click="burger=!burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu" ng-class="{'is-active': burger}">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field" ng-if="$ctrl.parent.isLogged()">
            <p class="control">
              <a ui-sref="main.recipes.add" class="button is-link">{{'BUTTON.ADD' | translate}}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <a ng-if="!$ctrl.parent.isLogged()" class="navbar-item" ui-sref="main.login">{{'NAVBAR.LOGIN' | translate}}</a>
        <div ng-if="$ctrl.parent.isLogged()" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{'NAVBAR.HELLO' | translate}} {{$ctrl.parent.userName()}}
            <span class="caret"></span>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href ng-click="$ctrl.admin()" ng-if="$ctrl.parent.isAdmin()">{{'NAVBAR.ADMIN' | translate}}</a>
            <a class="navbar-item" href ng-click="$ctrl.parent.logout()">{{'NAVBAR.LOGOUT' | translate}}</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{'NAVBAR.LANGUAGE' | translate}}
            <span class="caret"></span>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href ng-class="{'is-active': $ctrl.options.lang == 'en'}" ng-click="$ctrl.setLanguage('en');">{{'NAVBAR.ENGLISH' | translate}}</a>
            <a class="navbar-item" href ng-class="{'is-active': $ctrl.options.lang == 'fr'}" ng-click="$ctrl.setLanguage('fr');">{{'NAVBAR.FRENCH' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>